.menuContent {
  display: flex;
  flex-flow: column nowrap;
  width: max-content;
  height: max-content;
  background-color: var(--header-bg);
  border-radius: 0.5rem;
  border: 1px solid rgba(var(--foreground-a), 0.2);

  & .menuItem {
    display: flex;
    column-gap: 0.4rem;
    font-size: 0.8rem;
    width: 100%;
    height: 100%;
    padding: 0.8rem;
    cursor: pointer;
    border-radius: 0.5rem;

    &.delete {
      color: rgb(249, 71, 71);

      &:hover {
        background-color: rgba(249, 71, 71, 0.1);
      }
    }

    &:hover {
      background-color: rgba(var(--foreground-a), 0.1);
    }
  }
}

.menuWrapper {
  position: fixed;
  z-index: 99999;
  cursor: pointer;
  user-select: none;
}

.label_upload {
  display: flex;
  cursor: pointer;
}

.file_i {
  display: none;
  width: 100%;
  cursor: pointer;

  &::file-selector-button {
    display: none;
  }
}
